---
import flower from '../assets/beautiful-flower.png';
import CherryBlossomConfetti from './Confetti';
---
<CherryBlossomConfetti client:load/>
<div class="bg-color">
	<div class="container">
		<img src={flower.src} alt="flower" class="flower" draggable="false"/>
		<div class="very-center">
			<h1 class="sorry">I'm sorrie :c</h1>
			<p class="sub">I know I upset you, Hannah, and I get it if you're angry or sad. But... please, can you find it in your heart to forgive me? I really am sorry</p>
		</div>
	</div>
</div>

<style>
	@import url('https://fonts.googleapis.com/css2?family=DynaPuff:wght@400..700&display=swap');

	.container {
		position: relative;
		overflow: hidden;
		width: 100%;
		height: 100vh;
	}

	.bg-color {
		background-color: #FDE7E9;
		width: 100%;
		height: 100%;
	}

	.very-center {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		text-align: center;
	}

	.sorry {
		font-family: 'DynaPuff', sans-serif;
		font-size: 3.5rem;
		color: #F5788B;
		text-shadow: #871d2d 0px 0px 2px;
	}

	.sub {
		font-family: 'DynaPuff', sans-serif;
		font-size: 1.5rem;
		color: #F5788B;
		text-shadow: #ca3c51 0px 0px 2px;
	}

	.flower {
		position: absolute;
		left: -90px;
		top: 35px;
		width: 30%;
		user-select: none;
		opacity: 0.7;
	}

	@media (max-width: 768px) {
		.flower {
			width: 70%;
			top: -50px;
			left: -50px;
		}

		.sorry {
			font-size: 2rem;
		}

		.sub {
			font-size: 20px;
		}

		.very-center {
		    position: static;
		    transform: none;
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			padding: 0 20px;
			height: 100%;
		}
	}
</style>